@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.theme-light {
  --bg-background-primary: #fff;
  --bg-background-secondary: #a8ffe4;

  --text-copy-primary: #000;
  --text-copy-secondary: #919399;
  --text-copy-modal: #a8ffe4;
}

.theme-dark {
  --bg-background-primary: #161b25;
  --bg-background-secondary: #242c3b;
  --bg-background-modal: #a8ffe4;

  --text-copy-primary: #fff;
  --text-copy-secondary: #a7a9af;
  --text-copy-modal: #a8ffe4;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.nuxt-content {
  text-align: justify;
}

.nuxt-content a {
  background: linear-gradient(to bottom, #a8ffe4 0%, #a8ffe4 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  text-decoration: none;
  transition: background-size 0.5s;
}

.nuxt-content a:hover {
  background-size: 4px 50px;
  color: #fff;
}

.nuxt-content h1 {
  font-size: 2.25rem;
  font-weight: 800;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

.nuxt-content h2 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

.nuxt-content h3 {
  font-size: 1.65rem;
  font-weight: 700;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

.nuxt-content h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  text-align: justify;
}

.nuxt-content p {
  line-height: 1.7;
  margin-bottom: 0.75em;
  margin-top: 1em;
  font-size: 1.2em;
}

.nuxt-content-highlight {
  width: 100%;
}

pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

.nuxt-content pre {
  word-wrap: normal;
  text-shadow: none;
}

.nuxt-content pre[class*="language-"] {
  box-sizing: border-box;
  color: #34a8eb;
  background: var(--bg-background-secondary);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  padding: 1em;
  overflow: auto;
  /*box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.2);*/
  margin: 1.5rem 0;
  font-size: 1rem;
  transition: border-radius 0.5s;
  border-radius: 5px;
}

.nuxt-content code {
  background-color: var(--bg-background-modal);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0.4em;
  color: #10ac84;
  font-family: "IBM Plex Mono", monospace;
}

.nuxt-content pre code {
  background-color: transparent;
  display: inline;
  line-height: inherit;
  margin: 0;
  max-width: auto;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
  text-shadow: none;
  color: #fff;
}

.nuxt-content .token.operator {
  background: transparent;
  font-family: "IBM Plex Mono", monospace;
}

.nuxt-content .token.string {
  color: lightsalmon;
  font-family: "IBM Plex Mono", monospace;
}

.nuxt-content .token.keyword {
  color: #0ec1ee;
  font-family: "IBM Plex Mono", monospace;
}

.nuxt-content .token.method {
  color: #dd1d1dea;
  font-family: "IBM Plex Mono", monospace;
}

.nuxt-content .token.maybe {
  color: #1d50ddea;
  font-family: "IBM Plex Mono", monospace;
}

#foot-link:hover {
  color: var(--text-copy-primary);
}
